-
    var projects = [
        {
            url: "#",
            image: "/src/images/projects/booky.jpg",
            name: "Booky",
            services: [
                "Web design"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        },
        {
            url: "#",
            image: "/src/images/projects/default.png",
            name: "Project name",
            services: [
                "Service",
                "Service"
            ]
        }
    ]