-
    var services = [
        {
            name: "Web design",
            description: "We design and build beautiful websites that set the groundwork for successful SEO."
        },
        {
            name: "Service",
            description: "Description"
        },
        {
            name: "Service",
            description: "Description"
        },
        {
            name: "Service",
            description: "Description"
        }
    ]