footer
    .container
        span
            b(translate="no") ideaa
            | &bull;
            a(
                href="http://creativecommons.org/licenses/by-nc-sa/4.0"
                target="_blank"
                rel="license"
                title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License"
            ) Some rights reserved